
$container: 1200px;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    list-style: none;
    text-decoration: none;
    list-style-type: none;
  }
  li{
    list-style-type: none;
  }
  
  
.container{
  margin: 0 auto;
  max-width: $container;
 
 /* padding-top: 60px;*/
}
.container-header{
  margin-bottom: 30px;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: $container;
  padding-top: 30px;

}
.logo{
  display: flex;
  flex-direction: column;
  max-width: 188px
}
.logo-title{
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
color:  #545454;
letter-spacing: 0.06em;
}
.text{
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #292929;
letter-spacing: 0.1em;
text-align: center;

margin-top: 10px;

}
.nav-list{
  display: flex;
}
.nav-link{
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color:  #545454;
margin-left: 35px;
padding-bottom: 4px;

&:hover{
color: #292929;
}
&:active{
color: #292929;
border-bottom: 3px solid #F1CDB3 ;
}
}
.shelter{
  
  border-bottom: 3px solid #F1CDB3 ;
cursor:default;
}
.pets {
 
  background-color: #F6F6F6;
}

.pets-title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
max-width: 400px;
margin: 0 auto;
text-align: center;
margin-bottom: 30px;
padding-top: 80px;
}
.pets-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  background-color: #FAFAFA;
  margin-top: 30px;
  
  cursor: pointer;
  &:hover{
    box-shadow: 1px 1px 1px #CDCDCD;
  }
}
.name-pets {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}
.btn-pets {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    background: #FDDCC4;
  }
  
}
.button-pagination{
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 100px;
}
.btn-first_pag{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 52px;
height: 52px;
border: 2px solid #F1CDB3;
border-radius: 100px;
transition: 0.5s;
background-color: #F6F6F6;;
cursor: pointer;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color: #292929;
&:disabled{
  color: #CDCDCD;
  border-color: #CDCDCD;
}
}
.btn-prev_pag {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 52px;
height: 52px;
border: 2px solid #F1CDB3;
border-radius: 100px;
transition: 0.5s;
background-color: #F6F6F6;;
cursor: pointer;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color: #292929;
&:disabled{
  color: #CDCDCD;
  border-color: #CDCDCD;
}
}
.btn-number_pag {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 52px;
height: 52px;
border: 2px solid #F1CDB3;
border-radius: 100px;
transition: 0.5s;
background-color: #FDDCC4;
cursor: pointer;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color: #292929;
&:hover{
  background: #FDDCC4;
}
&:disabled{
  color: #CDCDCD;
  border-color: #CDCDCD;
}
}
.btn-next_pag {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 52px;
height: 52px;
border: 2px solid #F1CDB3;
border-radius: 100px;
transition: 0.5s;
background-color: #F6F6F6;;
cursor: pointer;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color: #292929;
&:hover{
  background: #FDDCC4;
}
&:disabled{
  color: #CDCDCD;
  border-color: #CDCDCD;
}
}
.btn-last_pag {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    width: 52px;
height: 52px;
border: 2px solid #F1CDB3;
border-radius: 100px;
transition: 0.5s;
background-color: #F6F6F6;;
cursor: pointer;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color: #292929;
&:hover{
  background: #FDDCC4;
}
&:disabled{
  color: #CDCDCD;
  border-color: #CDCDCD;
}
}
.footer {
  background-image: url("../../assets/images/footer-gradient-background.jpg");
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  height: 350px;
 
}
.contacts-title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #FFFFFF;

}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}
.contacts {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.email {
display: flex;
align-items: flex-end;
margin-bottom: 40px;
cursor: pointer;
}
.email-text {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.email-icon{
  margin-right: 20px;
  cursor: pointer;
}
.phone-icon{
  margin-right: 20px;
}
.phone {
  display: flex;
align-items: flex-end;
margin-bottom: 40px;
cursor: pointer;
}

.adress{
  max-width: 302px;
 
}
.adress-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 33px;
  
  
}
.adress-street {
  display: flex;
align-items: flex-end;
margin-bottom: 28px;
cursor: pointer;
}
.marker-icon {
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.street-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.sity-text{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.adress-sity {
  display: flex;
 
align-items: center;
  margin-bottom: 40px;
  cursor: pointer;

}
.footer-puppy{
  background-image: url("../../assets/images/footer-puppy.png");
  height: 310px;
  width: 300px;
  margin-top: 20px;
}
.menu-btn {
  display: none;
}
@media(max-width: 1140px){
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .pets-cards{
    max-width: 580px;
    margin: 0 auto;
    height: 1380px;
    overflow: hidden;
  }
  .pets-title{
    margin-bottom:0px ;
  }
  .button-pagination{
    margin-top: 55px;
    padding-bottom: 75px;
  }
}
@media(max-width:1000px){
  .footer{
    height: auto;
  }
  .footer-content{
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 0px;
  }
  .donation-container{
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    width: 505px;
  }
 
  .contacts-title{
    margin-top: 30px;
  }
  .adress-title{
    margin-top: 30px;
  }
}
@media(max-width: 767px){
  .logo{
    margin-left: 10px;
    position: relative;
    z-index: 5;
  }
  .text{
    position: relative;
    z-index: 5;
  }
  .nav-list{
    display: none;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
   
    margin-top: 20px;
    margin-right: 43px;
    transition: 0.5s;
  }
  .btn-line {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0px;
    background:#F1CDB3;
    border-radius: 2px;
    transition: .3s;
  }
  .btn-line:nth-child(1) {
    top: 0px;
  }
  .btn-line:nth-child(2) {
    top: 9px;
  }
  .btn-line:nth-child(3) {
    top: 18px;
  }
  
  .nav-list {
    position: absolute;
  position: fixed;
width: 320px;

    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    background-color:#292929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.5s ;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0;
  }
  .nav-item{
    margin-bottom: 40px;
   
  }
  .nav-link{
    &:hover{
      color:#F6F6F6
    }
    &:active{
      color: #F6F6F6;
      border-bottom: 3px solid #F1CDB3 ;
      }
  }
  .nav-list-open .nav-list {
    transform: translateX(0%);
    
  }
  .nav-list-open .menu-btn{
    transform: rotate(90deg);
    transition: 0.5s;
  }

  .nav-link{
    font-size: 32px;
    margin-left: 0px;
  }

}
@media(max-width: 641px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .logo{
    margin-left: 0px;
  }
  
   .footer-content{
    width: 300px;
    margin: 0 auto;
   }
   .contacts-title{
    font-size: 25px;
    text-align: center;
   }
   .adress-title{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
   }
   .footer-puppy{
    background-size: cover;
    width: 260px;
    height: 269px;
   }
   .email{
    margin-left: 15px;
    margin-top: 10px;
   }
  .phone{
    margin-left: 15px;
  }
  .adress-title__block{
    margin: 0 auto;
    margin-bottom: 40px;
    width: 250px;
  }
  .adress-street{
    margin-bottom: 35px;
  }
  .adress-sity{
    margin-bottom: 15px;
  }
}

@media(max-width: 560px){
  .pets-title{
    font-size: 25px;
    padding-top: 42px;
    margin-bottom: 10px;
  }
  .pets-cards{
    max-width: 270px;
  }
  .button-pagination{
    padding-bottom: 42px;
  }
}